.body {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    
}

.body-title-div {
    display: flex;
    justify-content: center;
}

.body-title {
    font-size: 25px;
    margin-top: 40px;
}

.body-content-div {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.monk1-div,
.monk2-div,
.monk3-div,
.monk4-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    align-items: center;
}

.monk1,
.monk2,
.monk3,
.monk4 {
    height: 200px;
    width: 200px;
    border: 2px;
    border-style: solid;
    border-color:  #008cff;
    border-radius: 8px;
}

.monk-text {
    margin-top: 5px;
    
}