.home {
    display: flex;
    gap: 50px;
    padding: 100px 0px;
    background-color: #1F2937;
}

.home-text,
.home-title,
.home-button {
    margin-left: 100px;
}

.home-text {
    display: flex;
    flex-direction: column;
   
}

.home-title {
    color: white;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.home-body {
    color: white;
}

.home-body2 {
    color: white;

}

.home-button {
    width: 100px;
    height: 30px;
    background-color: #008cff;
    color: white;
    border-radius: 8px;
}

.home-image {
    width: 323px;
}