.home {
    display: flex;
    gap: 50px;
    padding: 50px;
    background-color: #1F2937;
}

.home-text {
    display: flex;
    flex-direction: column;
}

.home-title {
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}

.home-body {
    color: white;
    font-weight: normal;
}

.home-button {
    width: 100px;
    height: 30px;
    background-color: #008cff;
    color: white;
    border-radius: 8px;
}

.home-image {
    display: flex;
}